<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.business.mapper.BusinessMapper">  

	<insert id="insertStore">
    INSERT INTO STORES (STORE_IDX,COMPANY_IDX,TITLE,AGE,BRAND1,BRAND2)
    VALUES ( STORES_SEQ.NEXTVAL, #{company_idx}, #{title}, #{age}, #{brand1}, #{brand2})
	</insert>
    
	<insert id="insertStoreDetail">
     INSERT INTO STORES_DETAIL 
     ( DETAIL_IDX,STORE_IDX, ADDRESS,START_DATE, END_DATE,HOMEPAGE,SNS, 
     INTRODUCTION,CONTENT,PARKING, FARE,AGE_LIMIT,SHOOTING,GOODS
     ) VALUES ( STORES_DETAIL_SEQ.NEXTVAL,(SELECT MAX(STORE_IDX) FROM STORES),
                #{address}, #{start_date},#{end_date},#{homepage},#{sns},#{introduction},
                #{content},#{parking},#{fare},#{age_limit},#{shooting},#{goods}
        )
	</insert>
	
	<!-- tag 여러개 저장 -->
  <insert id="insertStoreTage">
  <foreach collection="tagList" item="tag" index="i" 
         open="INSERT ALL" 
         close="SELECT * FROM DUAL" 
         separator="">
    INTO STORES_TAG VALUES (
       (SELECT NVL(MAX(TAGE_IDX), 0) FROM STORES_TAG) + #{i} + 1,
        (SELECT MAX(STORE_IDX) FROM STORES),#{tag.tag_name} )
  </foreach>
  </insert>


   <insert id="insertStoreOperation">
   INSERT INTO STORES_OPERATION (OPERATION_IDX,STORE_IDX,SMON,STUE,SWED,STHU,SFRI,SSAT,SSUN,EMON,ETUE,EWED,ETHU,EFRI,ESAT,ESUN,ONOTES
   ) VALUES (STORES_OPERATION_SEQ.NEXTVAL,(SELECT MAX(STORE_IDX) FROM STORES),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{SMON}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{STUE}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{SWED}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{STHU}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{SFRI}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{SSAT}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{SSUN}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{EMON}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{ETUE}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{EWED}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{ETHU}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{EFRI}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{ESAT}, 'YYYY-MM-DD HH24:MI'),
       TO_TIMESTAMP(TO_CHAR(SYSDATE, 'YYYY-MM-DD') || ' ' || #{ESUN}, 'YYYY-MM-DD HH24:MI'),
   #{onotes})
   </insert>
 
  <insert id="insertReservationStore">
  INSERT INTO RESERVATION_STORES (RS_IDX,STORE_IDX,NOTES,OPEN_DATE,STATUS,LINK
) VALUES (RESERVATION_STORES_SEQ.NEXTVAL,(SELECT MAX(STORE_IDX) FROM STORES),
#{notes},#{open_date},#{status},#{link})  
  </insert>
  
  	<!-- plan 여러개 저장 -->
    <insert id="insertReservationPlan">
  <foreach collection="rpList" item="rp" index="i" 
         open="INSERT ALL" 
         close="SELECT * FROM DUAL" 
         separator="">
		    INTO RESERVATION_PLANS (RP_IDX, PLAN, START_TIME, END_TIME, MAX_NUMBER)
    VALUES ((SELECT NVL(MAX(RP_IDX), 0) FROM RESERVATION_PLANS) + #{i} + 1,
            'S' || (SELECT MAX(STORE_IDX) FROM STORES) || #{rp.plan},
            #{rp.start_time},
            #{rp.end_time},
            #{rp.max_number})
  </foreach>
  </insert>
  
   	<!-- date 여러개 저장 -->
    <insert id="insertReservationDate">
  <foreach collection="rdList" item="rd" index="i" 
         open="INSERT ALL" 
         close="SELECT * FROM DUAL" 
         separator="">
		    INTO RESERVATION_DATES (RD_IDX, RS_IDX, PLAN, RESERVATION_START_DATE, RESERVATION_END_DATE)
           VALUES ((SELECT NVL(MAX(RD_IDX), 0) FROM RESERVATION_DATES) + #{i} + 1,
            (SELECT NVL(MAX(RS_IDX), 1) FROM RESERVATION_STORES),
            'S' || (SELECT MAX(STORE_IDX) FROM STORES) || #{rd.plan},
            #{rd.reservation_start_date},
            #{rd.reservation_end_date})
  </foreach>
  </insert> 
 
 <select id="getCategoryList">
  SELECT * FROM CATEGORY
 </select>

    	<!-- 카테고리 여러개 저장 -->
   <insert id="insertStoreCategoryList">
   <foreach collection="scList" item="sc" index="i" 
         open="INSERT ALL" 
         close="SELECT * FROM DUAL" 
         separator="">
   INTO STORES_CATEGORY ( SC_IDX,STORE_IDX,CATEGORY_ID
   ) VALUES ((SELECT NVL(MAX(SC_IDX), 0) FROM STORES_CATEGORY) + #{i} + 1,
   (SELECT MAX(STORE_IDX) FROM STORES),#{sc.category_id} )
  </foreach>
  </insert> 
 
 
 
 
 <select id="getStoreIdxMax">
 SELECT MAX(STORE_IDX)
 FROM STORES
 </select>
 
    <!-- 이미지파일  여러개 저장 -->
  <insert id="setFileWriter">
  <foreach collection="fileList" item="file" index="i" 
         open="INSERT ALL" 
         close="SELECT * FROM DUAL" 
         separator="">
    INTO IMAGE_STORE VALUES (
        (SELECT NVL(MAX(IS_IDX), 0) FROM IMAGE_STORE) + #{i} + 1,
        #{file.imagename},
        #{file.imageext},
        #{file.image_path},
        #{file.store_idx} )
  </foreach>
  </insert>

</mapper>

















