<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.UsersMapper">
   
   <!-- 진행중 팝업 리스트 -->
  <select id="getPopuplist">
	SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE st.ban='N' AND st.status='승인' 
	      AND std.start_date &lt; SYSDATE 
	      AND std.end_date &gt; SYSDATE
	ORDER BY
	    st.store_idx ASC
  </select>
   
   <!-- 랭킹 팝업 리스트 -->
   <select id="getRanklist">
   SELECT 
	    s.store_idx, s.company_idx, s.title, s.age,s.brand1,s.brand2, s.cdate,s.status,s.ban,
	    sd.detail_idx,sd.address, TO_CHAR(sd.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(sd.end_date, 'YYYY-MM-DD') AS end_date,sd.homepage,sd.sns, sd.introduction,
	    sd.content, sd.parking, sd.fare, sd.age_limit, sd.shooting, sd."LIKE", sd.hit, sd.goods,
	    h.hit_count
	FROM 
	    stores s
	JOIN 
	    stores_detail sd ON s.store_idx = sd.store_idx
	JOIN 
	    (SELECT 
	         store_idx, 
	         COUNT(*) AS hit_count 
	     FROM 
	         hit 
	     GROUP BY 
	         store_idx) h ON s.store_idx = h.store_idx
	ORDER BY 
	    h.hit_count DESC
   </select>
   
   <!-- 오픈예정 팝업 리스트 -->
  <select id="getOpendpopuplist">
   SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE st.ban='N' AND st.status='승인' 
	AND std.start_date > SYSDATE AND std.end_date > SYSDATE
	ORDER BY
	    st.store_idx ASC
  </select>
  
  <!-- 종료된 팝업 리스트 -->
  <select id="getclosepopuplist">
  SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE st.ban='N' AND st.status='승인' 
	AND std.start_date &lt; SYSDATE AND std.end_date &lt; SYSDATE
	ORDER BY
	    st.store_idx ASC
  </select>
  

  <!-- 메인화면 필터링 -->
  <select id="getFilterlist">
  SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE
    1=1
	    AND st.ban = 'N'
	    AND st.status = '승인'
	    AND std.start_date &lt; SYSDATE
	    AND std.end_date &gt; SYSDATE
	    <if test="region != null and region != ''">
	        AND std.address LIKE '%' || #{region} || '%'
	    </if>
	    <if test="age != null and age !=''">
	        AND st.age=#{age}
	    </if>
	    <if test="date != null and date !=''">
	        AND #{date} BETWEEN start_date AND end_date
	    </if>
	    
	ORDER BY
	    st.store_idx ASC
  </select>
  
  <!-- 검색 후 화면 리스트 -->
  <!-- 진행중 -->
  <select id="getOngoingsearchlist">
  SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE 1=1
	      AND st.ban='N' AND st.status='승인' 
	      AND std.start_date &lt; SYSDATE 
	      AND std.end_date &gt; SYSDATE
	      <if test="search != null and search != ''">
	        AND st.title LIKE '%' || #{search} || '%'
	    </if>
	ORDER BY
	    st.store_idx ASC
  </select>
  
  <!-- 오픈예정 -->
  <select id="getOpendsearchlist">
  SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE 1=1 
	      AND st.ban='N' AND st.status='승인' 
	      AND std.start_date > SYSDATE AND std.end_date > SYSDATE
	      <if test="search != null and search != ''">
	        AND st.title LIKE '%' || #{search} || '%'
	    </if>
	      ORDER BY
	          st.store_idx ASC
  </select>
  
  <!-- 종료 -->
  <select id="getClosesearchlist">
  SELECT
	    st.store_idx, st.company_idx,st.title,st.age,st.brand1,st.brand2,st.cdate,st.status,st.ban,
	    std.detail_idx,std.address,TO_CHAR(std.start_date, 'YYYY-MM-DD') AS start_date,TO_CHAR(std.end_date, 'YYYY-MM-DD') AS end_date,
	    std.homepage, std.sns, std.introduction,std.content,std.parking,std.fare,std.age_limit, std.shooting,
	    std."LIKE", std.hit, std.goods
	FROM
	    stores st JOIN stores_detail std ON st.store_idx = std.store_idx
	WHERE 1=1 
	     AND st.ban='N' AND st.status='승인' 
	     AND std.start_date &lt; SYSDATE AND std.end_date &lt; SYSDATE
	     <if test="search != null and search != ''">
	        AND st.title LIKE '%' || #{search} || '%'
	    </if>
	ORDER BY
	    st.store_idx ASC
  </select>
</mapper>