<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.users.mapper.UserBookmarkMapper">
	
<select id="getbookmark">
    SELECT
        B.BOOKMARK_IDX,
        B.USER_IDX,
        B.STORE_IDX,
        S.TITLE,
        TO_CHAR(SD.START_DATE, 'YYYY-MM-DD') AS START_DATE,
        TO_CHAR(SD.END_DATE, 'YYYY-MM-DD') AS END_DATE
    FROM 
        BOOKMARKS B
    JOIN 
        STORES S ON B.STORE_IDX = S.STORE_IDX
    JOIN 
        STORES_DETAIL SD ON B.STORE_IDX = SD.STORE_IDX
    WHERE 
        B.USER_IDX = #{user_idx}
</select>

<select id="getReview">
	SELECT 
    R.REVIEW_IDX,
    R.USER_IDX,
    R.STORE_IDX,
    R.SCORE,
    R.CONTENT,
    R."LIKE",
    R.HIT,
    TO_CHAR(R.CDATE, 'YYYY-MM-DD') AS CDATE,
    S.TITLE,
    TO_CHAR(SD.START_DATE, 'YYYY-MM-DD') AS START_DATE,
    TO_CHAR(SD.END_DATE, 'YYYY-MM-DD') AS END_DATE
FROM 
    REVIEWS R
JOIN 
    STORES S ON R.STORE_IDX = S.STORE_IDX
JOIN 
    STORES_DETAIL SD ON R.STORE_IDX = SD.STORE_IDX
WHERE 
	R.USER_IDX = #{user_idx}
	
</select>

<select id="countReviewsByUserId">

    SELECT COUNT(*)
    FROM REVIEWS R
    WHERE R.USER_IDX = #{user_idx}
    
</select>


</mapper>
